body {
  font-family: sans-serif;
  margin: 1rem;
}

.details-list,
.explanation {
  display: none;
  margin-top: 0.5rem;
}

.goal {
  border-bottom: 1px solid #333;
  padding: 1rem 0;
}

.toggle-detail,
.toggle-more {
  float: right;
  color: #007acc;
  cursor: pointer;
  text-decoration: underline;
}

#div2 {
  color: red;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #333;
}

.avatar {
  float: right;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
